@media only screen and (min-width: 320px) {
  .main-title {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    padding-left: 0;
    background: $background-grey;

    &__title {
      margin: 0;
      color: $black;
      font-family: $bold;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.6px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .main-title {
    display: none;
  }
}
