@media only screen and (min-width: 320px) {
  .wrapper-price-desk {
    display: none;
  }
  .price-title {
    display: none;
  }

  .swiper-wrapper-price {
    display: flex;
    gap: 16px;
    padding: 16px;
  }

  .header-swipper {
    background: $white;
  }

  .swiper-price {
    box-sizing: border-box;
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    &__title {
      padding-bottom: 4px;
      color: $grey;
      font-family: $regular;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: 0.2px;
    }

    &__text {
      color: $black;
      font-family: $regular;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: 0.2px;
    }
  }

  .price-btn {
    border: none;
    width: 119px;
    height: 32px;
    color: $white;
    text-align: right;
    font-family: $bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
    border-radius: 16px;
    background: $pink;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px 4px 12px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper-price {
    display: none;
  }

  .wrapper-price-desk {
    display: block;
  }

  .price-title {
    padding: 31px 0px 16px 46px;
    display: grid;
    grid-template-columns: 334px 74px 81px 119px;
    column-gap: 20px;
    color: $grey;
    font-family: $medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    width: 668px;

    &__title {
      margin: 0;
    }
  }
  .swiper-price-block-desk {
    display: flex;
    justify-content: center;
  }
  .swiper-wrapper-price {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
    width: 720px;
    background: $white;
    margin: 0 24px 24px 24px;
  }

  .swiper-price {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto 74px 81px 119px;
    column-gap: 20px;
    align-items: center;
    width: 668px;
    height: 64px;
    border-radius: 6px;
    background: $white;
    border-bottom: 1px solid #eaeaea;
    position: static;
    padding: 0;

    


    &__title {
      display: none;
    }
  }

  .price-btn {
    position: static;
  }
}

@media only screen and (min-width: 1440px) {
  .price-title {
    padding: 31px 0px 16px 54px;
    display: grid;
    grid-template-columns: 674px 74px 81px 119px;
  }


  .swiper-wrapper-price {
    margin: 0 36px 32px 28px;
    width: 1056px;
    
  }

  .swiper-price {
    
    width: 1008px;
    

    
  }
}


