@media only screen and (min-width: 320px) {
  .desk-wrapper-brands {
    display: none;
  }
  .wrapper-brands {
    width: 320px;
  }

  .header-swipper {
    border-top: 1px solid $mint-color;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);

    &__title {
      padding: 16px;
      margin: 0;
      color: $grey;
      font-family: $regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
      text-transform: uppercase;
    }
  }

  .swiper-brands-desk {
    background: $background-grey;
  }

  .swiper-wrapper {
    padding-top: 16px;
    padding-left: 16px;
    gap: 16px;
  }

  .swiper-slide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px !important;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    padding: 16px;
    background: $white;

    &__btn {
      background-color: $white;
      border-radius: 100px;
      width: 40px;
      height: 40px;
      border: none;
      background-image: url('../img/go.svg');
      cursor: pointer;
    }
  }
}

.next-show,
.next-hide {
  display: none;
}

.swiper__pagination {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 40px;
}

.swiper-pagination-bullet {
  background-color: #b5b6bc;
}

@media screen and (min-width: 768px) {
  .wrapper-brands {
    display: none;
  }
  .desk-wrapper-brands {
    display: block;
  }
  .swiper-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
    column-gap: 24px;
  }

  .swiper-slide {
    width: 224px !important;
  }

  .next-show {
    display: flex;
    padding-left: 24px;
    padding-bottom: 34px;

    &__btn {
      border-radius: 6px;
      all: unset;
      color: $black;
      font-family: $medium;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
    }
  }

  .next-hide {
    display: flex;
    padding-left: 24px;
    padding-bottom: 34px;

    &__img {
      display: none;
    }
  }

  .swiper__pagination {
    display: none;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .desk-wrapper-brands {
    width: 1120px;
  }

  .hidden-slide {
    display: flex;
  }
  .swiper-slide {
    width: 240px !important;
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 24px 32px;
    column-gap: 32px;
  }

  .next-show {
    padding-left: 32px;
  }
}
